<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team</title>
 </head>
 <body>
     <p><h1>Team Name: <%= params[:team_name] %></h1></p>
     <p>Coach: <%= params[:coach] %></p>
     <p>Point Guard: <%= params[:point_guard] %></p>
     <p>Shooting Guard: <%= params[:team_name] %></p>
     <p>Small Forward: <%= params[:team_name] %></p>
     <p>Power Forward: <%= params[:team_name] %></p>
     <p>Center: <%= params[:team_name] %></p>
 </body>
</html>
